name: panvimdoc

on:
  push:
    branches: [ "main" ]
  workflow_dispatch:

jobs:
  docs:
    runs-on: ubuntu-latest
    name: pandoc to vimdoc
    steps:
      - uses: actions/checkout@v2
      - uses: kdheepak/panvimdoc@main
        with:
          vimdoc: flatten.nvim
          version: "NVIM v0.8.0"
          toc: true
          demojify: true
          treesitter: true
      - uses: stefanzweifel/git-auto-commit-action@v4
        with:
          commit_message: "chore(docs): autogenerate vimdoc"
          branch: ${{ github.head_ref }}
